<div class="introduction">
  <h1>my money cashboard</h1>
  <br>
  <h3><%= @sum %></h3>
  <br>
  <a class="button big-button" href="/transactions/new">New Transaction</a>
  <a class="button big-button" href="/transactions">All Transactions</a>
  <div class="clear"></div>
</div>
