<div class="introduction">
  <h1>my money cashboard</h1>
  <br>
  <h3>my expenses: <%= @sum %></h3>
  <hr>
  <h3>my budget: <%= @@budget %></h3>
  <% budget = @@budget %>
  <% budget -= @sum %>
  <p><% if @sum >= @@budget %></p>
     <p id ="red"> you are <%= budget %> £ over budget</p>
     <%end%>
  <br>
  <ul>
    <li>
      <a class="button big-button" href="/transactions/new">New Transaction</a>
    </li>
    <li>
      <a class="button big-button" href="/transactions">All Transactions</a>
    </li>
    <li>
      <!-- <a class="button2 big-button" href="/categories">All Categories</a> -->
    </li>
    <div class="clear"></div>
  </ul>
</div>
<body>
