<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>money cashboard</title>
  <link rel="shortcut icon" type="../public/images/logo.jpg" href="favicon.ico" />
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' type='text/css'>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<nav class="top-navigation">
  <ul class="header">
    <li>
    <img src="../public/images/logo.jpg" alt="MoCa" />
    </li>
    <li >
    <h1><a href="/">Money Cashboard</h1>
    </li>
  </ul>
    <ul class="links">
      <li>
        <a href="/transactions/new">New Transaction</a>
      </li>
    <li>
      <a href="/transactions">Transactions</a>
    </li>
    <li>
      <a href="/categories">Categories</a>
    </li>
    <li>
      <a href="/shops">Shops</a>
    </li>
  </ul>
</nav>
<section class="cases">
      <div class="content">
        <%= yield %>
      </div>
   </section>
    <footer class="social">
      <div class="content">
        <hr>
        <span class="copy">
          &copy; my_MoneyCashboard.
        </span>
      </div>
    </footer>
</body>
</html>
