/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 2;
}

table, th, td {
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
}

table {
    width: 100%;
}

th, td {
    height: 30px;
    text-align: left;
    align-items: center;
    vertical-align: middle;
}

th {
    background-color: #f5f5f5;
    color: black;
}

tr:hover {background-color: #f5f5f5;}
/**
 * End of Reset
 */
/**
 * Start of Custom Styles
 */


body{
  //background-color: Gray;
}

div{
  //border: 1px solid Chocolate;
}

/***************************************/

::selection{
  background-color: orange;
}

head{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #fff;
}

.body-link {
  color: #dd3612;
}

.order-list{
  padding: 10px;
}

#red{
  color: red;
}

/*/////////////// FORM STYLES ////////////////////*/


form .box {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}


.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

body {
  background: #fff;
}


/* start flexing */
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

form .field-group{
  display: flex;
  margin: 0 0 12px 0;
}

form .flex-outer .label{
  flex: 1;
  text-align: right;
  margin: 0 8px 0 0;
  padding: 2px 0;
}

form .field-group .field{
  flex: 3;
}

form .field-group:last-child{
  display: flex;
  justify-content: flex-end;
  flex-direction: row
}

form .field-group:last-child .field{
  max-width: 75%;
}

input, select, textarea{
  padding: .6rem 1rem;
  font-size: 1.6rem;
  border: solid 1px #eee;
  background: #fff;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

input, select{
  width: 50%;
}

input[type="radio"],
input[type="checkbox"],
input[type="submit"]{
  width: auto;
}

/* Navigation Section */
.top-navigation {
  background-color: #dd3612;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 10px;
  z-index: 9999;
}

.top-navigation .links{
  float: right;
  margin-right: 1.563rem;
}

.top-navigation .links li:hover{
  color: black;
  cursor: pointer;
}

.top-navigation .links > .active{
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li{
  display: inline-block;
  margin-left: 1.563rem;
  margin-top: 1.5rem;
}

.top-navigation .header li{
  float: left;
  margin-left: 1.563rem;
  margin-top: 1.5rem;
}

.top-navigation .header li h1{
  color: white;
  font-weight: 10;
  font-size:1.125rem;
}

.introduction{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.content{
  margin: 0 auto;
  width: 970px;
  min-width: 37.5rem;
  padding: 0 0.938rem;
}

.introduction h1{
  margin-top: 12.5rem;
  font-size:3.125rem;
}


.introduction h3{
  line-height: 3rem;
  font-size:1.7rem;
}

.introduction h1, .introduction h3{
  color:black;
  text-align: center;
  font-weight: 400;
}

.tile a{
    display: block;
    float: left;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 150px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
}

.clear {
  clear: both;
}

/**
The buttons
*/

.button{
  width: 9.688rem;
  background-color: #dd3612;
  border-color: #dd3612;
  text-shadow:none;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
  display: block;
}

.button2 {
  width: 9.688rem;
  background-color: #478B73;
  border-color: #478B73;
  text-shadow:none;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
  display: block;
}

.button3 {
  width: 9.688rem;
  height: 2.50rem;
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  text-shadow: none;
  text-align: top;
  line-height: 2.50rem;
  border-style: none;
  border-radius: 4px;
  color: black;
  font-size: 0.8rem;
  display: block;
  align-items: left;
}

.button4 {
  width: 9.688rem;
  height: 2.50rem;
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  text-shadow: none;
  text-align: top;
  line-height: 2.50rem;
  border-style: none;
  border-radius: 4px;
  color: black;
  font-size: 0.8rem;
  display: block;
}

.button:hover{
  background-color: #AE2305;
  border-color: #AE2305;
  cursor: pointer;
}

.big-button{
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 16px 26px;
  line-height: 1.5rem;
  margin: 2rem auto;
 }

 .cases{
   text-align: center;
 }

 .devices > li{
  display: inline-block;
  margin: 2.5rem;
 }

 .cases h2{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size:3rem;
  font-weight: 300;
  color:black;
}

.caption h3{
  line-height: 3rem;
  font-size:1.2rem;
  color: black;
  letter-spacing: 0.03em;
  font-weight: 500;
}

/**
  Social icons
**/

.social{
  padding: 100px;
  font-weight: 300;
}

.social .content{
  text-align: center;
}

.social .content hr{
  color: Gray;
  height: 2px;
}

.social .icons > li {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  margin: 1.25rem 15px;
  border: 1px solid #eaebec;
  padding: 0.625rem 0;
  text-align: center;
  cursor: pointer;
}

.copy{
  padding: 15px;
}
/*////////////////////////////search bar//*/


#tfnewsearch{
  position:relative;
  /*transition: .5s ease;*/
  float:right;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 26px;
  margin-right: 5px;
  bottom: 880px
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  border: solid 1px #0076a3;
  background: #fff;
}

.tfbutton:hover {
  text-decoration: none;
  background: #AE2305;
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}
