<div class= "introduction">
<h1>&nbsp</h1>
<% @shops.each do |shop| %>
  <div class="transaction-list">
    <h3> <a class="body-link" href="/transactions/shop/<%=shop.id%>"><%= shop.shop_name %></a></h3>
    <br>
    <p> <%= shop.location %></p>
    <br>
  </div>
<% end %>
<a class="button4 big-button" href="/shops/new">Add new Shop</a>
</div>
