<div class="introduction">
<h1></h1>
<h3>new shop</h3>
<br>
<div class="box">
<form method="post" action="/shops">
 <ul class="flex-outer">
   <li>
    <label for="shop_name" class="label">Shop name:</label>
      <input
        type="text"
        name="shop_name"
        id="shop_name"
        placeholder="shop name"
        required
      />
   </li>
   <li>
    <label for="location-field" class="label">Location:</label>
      <input
        type="text"
        name="location"
        id="location-field"
        placeholder="location"
        required
      />
   </li>
   <li>
  <button class="big-button button">Save</button>
</li>
</ul>
</form>
</div>
