<div class= "introduction">
<h1>&nbsp</h1>
<% @categories.each do |category| %>
  <div class="transaction-list">
    <h3> <a class="body-link" href="/transactions/category/<%=category.id%>"><%= category.tag_name %></a></h3>
    <p> sum: <%= category.total_sum %></p>
    <hr>
    <p> <% category.amount_limit %></p>
    <!-- <a class="body-link" href="/categories/budget">Edit</a> -->
    <br>
  </div>
<% end %>
<a class="button3 big-button" href="/categories/new">New</a>
</div>
