<div class="introduction">
<h1>new transaction</h1>
<br>
<div class="box">
<form method="post" action="/transactions">
 <ul class="flex-outer">
   <li>
    <label for="title-field" class="label">Transaction Title:</label>
      <input
        type="text"
        name="title"
        id="title-field"
        placeholder="transaction title"
        required
      />
   </li>
   <li>
    <label for="price-field" class="label">Price:</label>
      <input
        type="number"
        name="price"
        id="price-field"
        placeholder="price"
        required
      />
  </li>
  <li>
    <label for="date-input-field" class="label">Date:</label>
      <input
        type="date"
        name="date_input"
        id="date-input-field"
        placeholder="DD/MM/YY"
        required
      />
  </li>
  <li>
    <label for= "category-selection" class="label">Category:</label>
      <select name="category_id" id="category_selection">
        <% @categories.each do |category| %>
        <option value= <%=category.id%>> <%=category.tag_name%></option>
        <% end %>
      </select>
  </li>
  <li>
    <label for="shop-name-field" class="label">Shop:</label>
      <input
        type="text"
        name="shop_name"
        id="shop-name-field"
        placeholder="shop name"
        required
      />
   </li>
   <li>
  <button class="big-button button">Save</button>
</li>
</form>
</div>
